@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

:root{
	--cafecito:#473C33;
	--amarillito:#FEC868;
	--naranjita: #FDA769;
}

*{
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
    background-color: var(--amarillito);
}

#logo{
	width: 300px;
  	height: 75px;
  	margin-left: 2vw;
}

header{
	display: flex;
	top: 0;
	position: fixed;
	z-index: 1;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	box-shadow: 2px 3px 5px rgba(71, 50, 61, 1);
	font-family: 'Josefin Sans', sans-serif;
	background-color: var(--amarillito); 
}

nav a {
	color: var(--cafecito);
	text-decoration: none;
	font-size: 24px;
	margin-left: 12px; 
}

nav {
	margin-right: 5vw;
}

nav a:hover{
	color: var(--naranjita);
	transition: 0.1s;
}

div{
	width: 100%;
	height: 100vh;
	justify-content: center;
	  
	}

#seccion1{
	margin-top: 10vh;	
}
div #seccion2, div #seccion4{
	background-color: var(--cafecito);
	justify-content: center;

}
h1{
	margin-top: 10cm;
	font-family: 'Josefin Sans', sans-serif;
	font-size:xx-large;
	text-align: center;
	color: #ABC270;
	text-shadow: 1px 1px #4E6C50;

}
p{
	margin-top: 1cm;
	margin-right: 20cm;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
	font-size: 200;
	font-weight: bold;
	text-align: left;
	line-height: normal;
}
#seccion2 img{
	margin-top: 10cm;
	width: 800px;
	height: 800px;
	border-top: 3cm;
	
}
