@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

body{
    background-color: #FEC868;
}

#logo{
	width: 300px;
  	height: 75px;
  	margin-left: 2vw;
}

header{
	display: flex;
	top: 0;
	position: fixed;
	z-index: 1;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	box-shadow: 2px 3px 5px rgba(71, 50, 61, 1);
	font-family: 'Josefin Sans', sans-serif;
	background-color: #FEC868; 
}

nav a {
	color: #473C33;
	text-decoration: none;
	font-size: 24px;
	margin-left: 12px; 
}

nav {
	margin-right: 5vw;
}

nav a:hover{
	color: #FDA769;
	transition: 0.1s;
}

#seccion1{
	margin-top: 10vh;
	width: 100%;
	height: 100vh;;
}

#seccion2{
	width: 100%;
	height: 100vh;
	background-color: #473C33;
}

#seccion3{
	width: 100%;
	height: 100vh;;
}

#seccion4{
	width: 100%;
	height: 100vh;
	background-color: #473C33;
}

#seccion5{
	width: 100%;
	height: 100vh;;
}
h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size:xx-large;
	text-align: center;

}
p{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
	font-size: large;
	font-weight: bold;
	text-align: left;
	line-height: normal;
}